.DS_Store
Thumbs.db

/vendor/

.env

/writable/cache/
/writable/logs/
/writable/session/
/writable/uploads/
/writable/debugbar/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

phpunit.xml
phpunit.result.cache

builds
/coverage/

/node_modules/
npm-debug.log
yarn.lock
package-lock.json

*.swp
*.swo
*.bak
*.tmp

*.sqlite
*.sqlite3
*.db

/.phpunit.result.cache

*.log
*.cache